/* global style */

html {
    background-color:#498d9c;
    box-sizing: border-box;
}

*,*:before , *:after{
    box-sizing: inherit;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 87%;
    /* 16px 87% 13.92px 14px */
}

.container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: white;
    padding-left: 3em;
    padding-right: 3em;
    /* em 14px x3 42px */
}

/* Header Style */
.header {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-weight: normal;
    color: pink;

}
.header-title{
    margin: 0;
    font-weight: normal;
    font-size: 165%;
}
.header-slogan{
    margin:0;
}

/* Nav style */
.nav {}

/* content style */
.content-area{
    display:  flex;
    border-top: 2px solid #e5e9dc;
    border-bottom: 1px solid #e5e9dc;
    padding: 7px;
}

/* Main-area style */
.main-area {
    width: 60%;

}

/* sidebar style */
.sidebar {
    width: 40%;
    background-color: tan;
    padding:20px 40px;
    font-size:85%;
}
/* Footer style */

.footer {
    text-align: center;
    
}

