html {
    background-color:rgb(0, 138, 157);
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 87%;
}

.container {
    background-color: white;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-left:3em;
    padding-right:3em;
}

.header {
    color: pink;
    margin:1em;
    padding-top:1.5em;
    padding-bottom:1.5em;
    font-weight: normal;
}

.header-title {
    font-weight:normal;
    margin: 0;
    font-size:165%;
}

.header-slogan {
    margin-top: 0px;
}

.nav {
margin-top: 5px;

}

.nav-list{
    display:flex;

    flex-direction: row;
    margin: 0;
    padding: 0;

}

.nav-list-item {
    list-style-type: none;
    text-align: left;
    font-size:small;
    margin-right: 1.5em;
    border-top: 4px solid rgb(130, 200, 209);
    border-right: 4px solid rgb(0, 138, 157);
    border-left: 4px solid rgb(0, 138, 157);
    padding:.5em;
}

.hover-list {
    display:none;
}

.hover-list-item {


.nav-list-item {
    display: inline-block;
    border:4px solid rgb(130, 200, 209);
}

a {
    text-decoration: none;
}

ul li:hover {
    background-color: rgb(0, 255, 255);
    display: inline-block;
    
}

.content-area {
    display:flex;
    flex-direction:row;
    border-top: 2px solid powderblue;
    border-bottom: 1px solid powderblue;
    padding: 7px;
}

.main-area {

    width:60%;
    padding-right:3em;
    text-align: justify;
}

.sidebar {
    width: 40%;
    text-align: justify;
    padding:20px 40px;
    font-size: 95%;
    background-color: #eeeee1;
}
footer {
    text-align: center;
    font-size:90%;
    padding-bottom:20px;
    padding-top:20px;
}
